<%= form_for(@paypal_transaction) do |f| %>
  <% if @paypal_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paypal_transaction.errors.count, "error") %> prohibited this paypal_transaction from being saved:</h2>

      <ul>
      <% @paypal_transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :paypal_transaction_ID %><br />
    <%= f.text_field :paypal_transaction_ID %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </div>
  <div class="field">
    <%= f.label :response %><br />
    <%= f.text_field :response %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
