<%= form_for(@ticket_instance) do |f| %>
    <div class="purchaseTicketContainer">
  <% if @ticket_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket_instance.errors.count, "error") %> prohibited this ticket_instance from being saved:</h2>

      <ul>
      <% @ticket_instance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <center>
  <%= f.hidden_field :guest_id %>
  <%= f.hidden_field :host_id %>
    <p><b>Guest Name</b></p>
    <%= f.text_field :guest_name, :class=>"loginFormSize" %>
    <br />
    <br />
    <p><b>Guest Email</b></p>
    <%= f.text_field :guest_email, :class=>"loginFormSize" %>
      <br />
      <br />
      </center>

        <div class="purchaseTickets">
      <center>
        <p><b>Tickets Available For Purchase For This Event (Select Quantity)</b></p>
        <hr />
  <table width="50%">
    <tr style="margin:5px;">
      <td width="63%"><b>Name</b></td>
      <td width="23%"><b>Price</b></td>
      <td width="5%"></td>
      <td width="9%"><b>Quantity</b></td>
    </tr>
    </table>
    <table width="50%">

    <hr />
    <% @quantities.each_with_index do |ticket_type, index| %>
    <tr>
      <td width="63%"><%= ticket_type.name %></td>
      <td width="23%"><%= number_to_currency(ticket_type.price) %></td>
      <td width="5%"> X &nbsp;</td>
      <td width="9%"><input type="hidden" size="5" name=<%= "ticket_instance[quantities][" + index.to_s + "][ticket_type]" %> value="<%= ticket_type.id %>" /><input type="text" size="5" name=<%= "ticket_instance[quantities][" + index.to_s + "][quantity]" %> /></td>
    </tr>
    <% end %>
  </table>
      </center>
        </div>

  <div class="actions">
    <br />
    <center>
    <%= f.submit "Buy Tickets", :class=>"btn btn-success", :style=>"width:200px;" %>
    </center>
  </div>
    </div>
<% end %>
