<h1>Listing videos</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Video</th>
    <th>Has youtube</th>
    <th>Youtube</th>
    <th>Default</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%= video.event_id %></td>
    <td><%= video.video %></td>
    <td><%= video.has_youtube %></td>
    <td><%= video.youtube %></td>
    <td><%= video.default %></td>
    <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Video', new_video_path %>
