<div id="content_outter" class="main_content_pane_outter">
<div id="content_inner" class="main_content_pane">
<h1 style="font-size: 25pt;float:left">Clone Event</h1><input type="button" onclick="window.location='/events'" value="Back To Events" class="btn btn-primary" style="float:right;position:relative;top:5px;"></input>
<div class="clearfloat"></div>
  <br>
  <span class="main_content_partial" style="display:inline-block;width:850px;">
    <div style="float:left;width:250px;">
     <div style="display:inline-block;">
  <%= simple_form_for(@event) do |f| %>
              <%= f.input :name, label: "Event Name",:input_html => {:style => "width:200px"} %>
           <%= f.input :category, priority: Event::CATEGORY_PERSONAL, collection: [ Event::CATEGORY_PERSONAL, Event::CATEGORY_ENTERTAINMENT, Event::CATEGORY_CHARITY, Event::CATEGORY_BUSINESS],label: "Event Category",include_blank: false,:input_html => {:style => "width:200px"}  %>
           <%= f.input :venue_name, label: "Venue Name (Optional)",:input_html => {:style => "width:200px"} %>
            <%= f.input :address, label: "Event Address",:input_html => {:style => "width:200px"} %>
                     <%= f.input :city, label: "Event City",:input_html => {:style => "width:200px"} %>
                     <%= f.input :province, label: "Event Province/State",:input_html => {:style => "width:200px"} %>
                     <%= f.input :postal, label: "Event Postal/Zip",:input_html => {:style => "width:200px"} %>
                     <%= f.input :country, label: "Event Country",:input_html => {:style => "width:200px"} %>
        <%#= f.input :date, :as => :date_picker, label: "Event Date", :input_html => {:id => 'date-pick' }, :required => false %><br />
                </div>
                </div>
                 <div style="float:left;width:250px;margin-left: 25px;">
                  <div style="display:inline-block;">
                    <center>
          <p style="color:#000;font-size: 9pt">Select a display photo for your event page (Recommended: 500x500)</p>
        <div class="profile_avatar" style="width:150px;"><%= image_tag @event.event_image.url(:feed), :style=>"height:150px;width:150px;" %></div>
        <%= f.file_field :event_image, label: false, required: false%><br /><br />
                      <p style="color:#000;font-size: 9pt;">Select a wallpaper/background photo for your event page (Recommended: 1950x900)</p>
            <div class="profile_avatar" style="width:195px;"><%= image_tag @event.event_poster.url(:preview), :style=>"height:90px;width:195px;" %></div>
            <%= f.file_field :event_poster, label: false, required: false%>
                    </center>
                </div>
                 </div>
                 <div style="float:right;width:250px;">
                  <div style="display:inline-block;">
                    <label for="event_description">Description</label>
                    <%= f.text_area :description, class: 'bio', style:"height:175px;" %>
                    <label for="event_details">Details</label>
                    <%= f.text_area :details, class: 'bio', style:"height:175px;" %>
                  </div>
                   </div>

          <div class="clearfloat"></div>
           <center><div class="dateTitle">Event Start Time</div>
                     <div class="datetime"><%= f.datetime_select :startTime, :ampm => true %></div>
                     <div class="dateTitle">Event End Time</div>
                     <div class="datetime"><%= f.datetime_select :endTime, :ampm => true %></div> </center>
           <br />
           <div style="display:inline-block;margin-left: 10px;">
            <table width="830px;">
            <tr>
              <td width="33%"><%= f.input :allow_comments,as: :boolean, label: "Allow Comments",:input_html => {:style => "float:left;"} %></td>
              <td width="33%"><%= f.input :show_promotor,as: :boolean, label: "Show Promotors",:input_html => {:style => "float:left;"} %></td>
              <td width="34%"><%= f.input :show_attendees,as: :boolean, label: "Display Attendees",:input_html => {:style => "float:left;"} %></td>
            </tr>
          </table>
          </div>
               <br />
               <div style="margin-left: 7px;">
                 <td width="25%"><%= f.input :is_private,as: :boolean, label: "This Event Will Be Private And Not Searchable Through Eventastic",:input_html => {:style => "float:left;margin-left:3px;"} %></td>
                 <td width="25%"><%= f.input :allow_photo_sharing,as: :boolean, label: "This Event Will Allow Photo Sharing",:input_html => {:id=> "photo_check",:style => "float:left;margin-left:3px;"} %></td>
                 <div id="auto_approve" <% if @event.allow_photo_sharing %>style="display:none;"<% end %>>
                 <td width="25%"><%= f.input :auto_approve_photos,as: :boolean, label: "Auto Approve Submitted Photos",:input_html => {:style => "float:left;margin-left:3px;"} %></td>
                 </div>
                 <td width="25%"><%= f.input :has_registration,as: :boolean, label: "This Event Will Provide A Registration Tool On It's Page",:input_html => {:style => "float:left;margin-left:3px;"} %></td>
                 <td width="25%"><%= f.input :has_ticketing,as: :boolean, label: "This Event Will Sell Tickets",:input_html => {:style => "float:left;margin-left:3px;"} %></td>
                 <td width="25%"><%= f.input :has_donations,as: :boolean, label: "This Event Will Accept Cash Donations",:input_html => {:style => "float:left;margin-left:3px;"} %></td>
                 <td width="25%"><%= f.input :has_cash_gifting,as: :boolean, label: "This Event Will Have Cash Gifting",:input_html => {:style => "float:left;margin-left:3px;"} %></td>
                 <td width="25%"><%= f.input :include_fees,as: :boolean, label: "Charge Processing Fees To Customer Instead Of Covering It Yourself (2.9% + $0.30/transaction)",:input_html => {:style => "float:left;margin-left:3px;"} %></td>
               <td width="25%"><%= f.input :show_video_message,as: :boolean,label: "Include A Video Message",:input_html => {:id=> "video_check", :style => "float:left;margin-left:3px;"} %></td>
               </div>
               <div id="video_message_panel"  style="display:inline-block;margin-left: 13px;display:none;"><div id="recorderContainer" class="main_content_partial2" style="height:360px; width: 320px;float:left;margin-left:20px;margin-right:20px;"><div class="clearfloat"></div><h1>Video Recorder</h1><div class="clearfloat"></div><hr /></div><div id="playerContainer" class="main_content_partial2" style="height:360px; width: 320px;float:right;margin-left:20px;margin-right:20px;"><div class="clearfloat"></div><h1>Video Preview</h1><div class="clearfloat"></div><hr /></div></div>
             <%= f.hidden_field :video %>
         <br />
     <br />
     <br />
      <br />
          <center><%= f.submit "Clone & Create This Event", class: "btn btn-large btn-success"%></center>
    <% end %>
      </span>

  <script>

  if (!FlashDetect.installed) {
      alert("We're sorry! Flash is required to use this feature. Please download the newest version of Adobe Flash to continue!");
  } else {
      if (FlashDetect.major < 11) {
          alert("Please upgrade your version of flash to at least version 11!");
      }
  }
  </script>

  <script>
  var API_KEY = "<%= OPENTOK_API_KEY %>";
  var TOKEN = "<%= OPENTOK_MODERATOR_TOKEN %>";
  var VIDEO_HEIGHT = 240;
  var VIDEO_WIDTH = 320;

  var player;
  var recImgData;

  function init() {
      initRecorder();
  }

  function initRecorder() {
      recorderManager = TB.initRecorderManager(API_KEY);
      createRecorder();
  }

  function createRecorder() {
      var recDiv = document.createElement('div');
      recDiv.setAttribute('id', 'recorderElement');
      document.getElementById('recorderContainer').appendChild(recDiv);
      recorder = recorderManager.displayRecorder(TOKEN, recDiv.id);
      recorder.addEventListener('recordingStarted', recStartedHandler);
      recorder.addEventListener('archiveSaved', archiveSavedHandler);
  }

  function recStartedHandler(revent) {
      //recImgData = recorder.getImgData();
  }

  function archiveSavedHandler(event) {
      $("#event_video").val(event.archives[0].archiveId);
      showPreview($("#event_video").val())
  }

  function showPreview(opentok_video_id) {
      if (opentok_video_id == undefined || opentok_video_id == null || opentok_video_id == "") {
  	alert("A video has not been saved yet!");
      } else {
  	loadArchiveInPlayer(opentok_video_id);
      }
  }

  function loadArchiveInPlayer(archiveId) {
      if (!player) {
  	$("#playerContainer").append("<div id='playerElement'></div>");
          player = recorderManager.displayPlayer(archiveId, TOKEN, 'playerElement');
          document.getElementById('playerContainer').style.display = 'block';
      } else {
          player.loadArchive(archiveId);
      }
      $('#playerContainer').show();
  }

  function hidePreview() {
      $('#playerContainer').hide();
  }
  var MyCheck=$("#video_check");

  MyCheck.change(function() {
    $("#video_message_panel").toggle(MyCheck.is(":checked"));
  });

  var MyCheck2=$("#photo_check");

  MyCheck2.change(function() {
    $("#auto_approve").toggle(MyCheck2.is(":checked"));
  });
  //init();
  </script></div>
</div>

<script>
        init();
    </script>