<link href="/css_temp/tooltipster.css" rel="stylesheet">
<link href="/css_temp/jquery-ui-edited.css" rel="stylesheet">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/js/jquery.tooltipster.min.js"></script>

<section>
  <div class="container">
<h1>Create A New Event</h1>
<br/>

    <div style="display:inline-block;">
      <div class="fixedDetails2" style="float:left;margin-bottom: 10px;">
        <div id="detailPanel"  class="detailActive"><i id="detailPanel_icon" class="icon-check green"></i> Event Summary</div>
        <div id="optionPanel" class="detail"><i id="optionPanel_icon" class="icon-check inactive_icon"></i> Event Details</div>
        <div id="ticketPanel" class="detail"><i id="ticketPanel_icon" class="icon-check inactive_icon"></i> Tickets/Registration</div>
        <div id="donationPanel" class="detail"><i id="donationPanel_icon" class="icon-check inactive_icon"></i> Donations</div>
        <div id="cgPanel" class="detail"><i id="cgPanel_icon" class="icon-check inactive_icon"></i> Cash Gifts</div>
        <div id="videoPanel" class="detail"><i id="videoPanel_icon" class="icon-check inactive_icon"></i> Videos</div>
        <div id="photoPanel" class="detail"><i id="photoPanel_icon" class="icon-check inactive_icon"></i> Photo Options</div>
        <div id="socialPanel" class="detail"><i id="socialPanel_icon" class="icon-check inactive_icon"></i> Social Profile</div>
        <div id="filePanel" class="detail"><i id="filePanel_icon" class="icon-check inactive_icon"></i> Upload Files</div>
        <div id="metricPanel" class="detail"><i id="metricPanel_icon" class="icon-check inactive_icon"></i> Publish</div>
        <div style="background-color:#79AF00; width: 200px; height:2px"></div>
        <div id="eventsalesPanel" class="detail"><i id="eventsalesPanel_icon" class="icon-check inactive_icon"></i> Event Dashboard</div>
        <div id="salesPanel" class="detail"><i id="salesPanel_icon" class="icon-check inactive_icon"></i> Event Rep Setup</div>


      </div>

      <div class="info_container">
        <%= simple_form_for(@event) do |f| %>
          <div style="color:#000;display:inline-block">
            <div class="tooltip" title="Name of your event!">
              <img src="/images/info_icon.png" width="15px">*Name
            </div>
            <img src="/images/info_icon.png" width="15px">*Name
          <%= f.input :name, label: false,:input_html => {:style => "width:250px"},required: true %></div>

          <div style="color:#000;display:inline-block">
            <div class="tooltip" title="The name of your events venue!">
              <img src="/images/info_icon.png" width="15px" >Venue Name (Optional)
            </div>
            <img src="/images/info_icon.png" width="15px" >Venue Name (Optional)
          <%= f.input :venue_name, label: false,:input_html => {:style => "width:250px"} %></div><br>

          <div style="color:#000;display:inline-block">
            <div class="tooltip" title="Category of your event!">
              <img src="/images/info_icon.png" width="15px" >*Event Category
            </div>
              <img src="/images/info_icon.png" width="15px" >*Event Category
            <%= f.input :category, priority: Event::CATEGORY_PERSONAL, collection: [ Event::CATEGORY_PERSONAL, Event::CATEGORY_ENTERTAINMENT, Event::CATEGORY_CHARITY, Event::CATEGORY_BUSINESS],label: false,include_blank: false,:input_html => {:style => "width:265px"},required: true  %>
          </div>


          <div style="color:#000;display:inline-block;height:60px">
            <div class="tooltip" title="URL of your event. For example, an event with an URL handle of 'example' would have an address of www.eventastic.com/promote/example!">
              <img src="/images/info_icon.png" width="15px" >*URL Handle <span style="font-size:7pt;"><i>(www.eventastic.com/promote/_____)</i></span><p>
            </div>
              <img src="/images/info_icon.png" width="15px" >*URL Handle <span style="font-size:7pt;"><i>(www.eventastic.com/promote/_____)</i></span><p>

            <input as="string" id="url_handle" label="false" name="url_handle" onkeyup="urlConfirm(this.value)" required="required" type="text" style="width: 250px;">
            <div style="position:relative;float:right;display:inline-block;left:25px;top:-39px;">
              <img id="notuniqueurl" src='/images/minus.png' style="position: relative;display:inline-block;opacity:1;bottom:9px"/>
              <img id="uniqueurl" src='/images/checkmark2.png' style="position: relative;display:inline-block;display:none;bottom:7px"/>
          </div></div><br>


          <div style="color:#000;display:inline-block">
            <div  class="tooltip" title="Address of your event!">
              <img src="/images/info_icon.png" width="15px">*Event Address
            </div>
              <img src="/images/info_icon.png" width="15px">*Event Address
            <%= f.input :address, label: false,:input_html => {:style => "width:250px"} %>
          </div>

          <div style="color:#000;display:inline-block">
            <div class="tooltip" title="The city your event is hosted in">
              <img src="/images/info_icon.png" width="15px" >*City
            </div>
              <img src="/images/info_icon.png" width="15px" >*City
            <%= f.input :city, label: false,:input_html => {:style => "width:250px"} %>
          </div><br>

          <div style="color:#000;display:inline-block">
            <div class="tooltip" title="The province or state your event is hosted in">
              <img src="/images/info_icon.png" width="15px" >*Province/State
            </div>
              <img src="/images/info_icon.png" width="15px" >*Province/State
            <%= f.input :province, label: false,:input_html => {:style => "width:116px"} %>
          </div>

          <div style="color:#000;display:inline-block">
            <div class="tooltip" title="The postal or zip code that your event is hosted in">
              <img src="/images/info_icon.png" width="15px" >*Postal/Zip Code
            </div>
              <img src="/images/info_icon.png" width="15px" >*Postal/Zip Code
            <%= f.input :postal, label: false,:input_html => {:style => "width:116px"} %>
          </div>

          <div style="color:#000;display:inline-block">
            <div class="tooltip" title="The country your event is hosted in">
              <img src="/images/info_icon.png" width="15px" >*Country
            </div>
              <img src="/images/info_icon.png" width="15px" >*Country
            <%= f.input :country, label: false,:input_html => {:style => "width:265px"} %>
          </div><br>

           <center>
             <div class="datetime">
          <div class="dateTitle">Event Start Time</div>
          <input type="text" id="startTime" value="<%= Time.now.strftime('%Y-%m-%d %l:%M %P') %>" onchange="checkTime($('#realStartTime'), this)"/>
          <input type="hidden" id="realStartTime" value="<%= Time.now.strftime('%Y-%m-%d %l:%M %P') %>" name="startTime" required/>
        </div>
        <div class="datetime">
          <div class="dateTitle">Event End Time</div>
          <input type="text" id="endTime" value="<%= Time.now.strftime('%Y-%m-%d %l:%M %P') %>" onchange="checkTime($('#realEndTime'), this)"/>
          <input type="hidden" id="realEndTime" value="<%= Time.now.strftime('%Y-%m-%d %l:%M %P') %>" name="endTime" required/>
        </div>
           </center>
        <br>
            <%= f.hidden_field :video %>
            <center><input class="btn btn-large btn-success" name="commit" type="submit" value="Save &amp; Continue" id="saveButton" disabled></center>
      <% end %>
    </div>
  </div>
</div>
</section>


<%= javascript_include_tag 'jquery-ui-1.9.2.min.js', 'jquery-timepicker.js' %>

<script>
$(document).ready(function() {
  $('#startTime').datetimepicker({
    dateFormat: 'yy-mm-dd',
    timeFormat: 'hh:mm tt',
    minDate: 0
  });
  $('#endTime').datetimepicker({
    dateFormat: 'yy-mm-dd',
    timeFormat: "hh:mm tt",
    minDate: 0
  });
  
  $('.tooltip').tooltipster({
    animation: 'fade',
   arrow: true,
   arrowColor: '',
   content: '',
   delay: 0,
   fixedWidth: 0,
   maxWidth: 0,
   functionBefore: function(origin, continueTooltip) {
      continueTooltip();
   },
   functionReady: function(origin, tooltip) {},
   functionAfter: function(origin) {},
   icon: '(?)',
   iconDesktop: false,
   iconTouch: false,
   iconTheme: '.tooltipster-icon',
   interactive: false,
   interactiveTolerance: 350,
   offsetX: 0,
   offsetY: 0,
   onlyOne: true,
   position: 'top',
   speed: 0,
   timer: 0,
   theme: '.tooltipster-default',
   touchDevices: true,
   trigger: 'hover',
   updateAnimation: true
   });


}); 

  function checkTime(el, that) {
    if (that.value.length > 15) {
      el.val(that.value);
    } else {
      that.value = el[0].value;
    }
  }

function urlConfirm(e) {
  success = false;
  input = e;
  spaceType = 0;
  textLength = e.length - 1;

  //console.log(e.charAt(textLength));

  if(e.charAt(textLength) == " ")
  {
    spaceType++;
  }
  else
  {
    for(var i = 0; i < e.length; i++)
    {
      if(e.charAt(i) == " ")
      {
        spaceType++;
      }
    }
  }

  if(spaceType > 0)
  {
    document.getElementById("notuniqueurl").style.display = "block";
    document.getElementById("uniqueurl").style.display = "none";
    document.getElementById("saveButton").disabled = true;
  }
  else if(input == '')
  {
    document.getElementById("notuniqueurl").style.display = "block";
    document.getElementById("uniqueurl").style.display = "none";
    document.getElementById("saveButton").disabled = true;
  }
  else if(input == " ")
  {
    document.getElementById("notuniqueurl").style.display = "block";
    document.getElementById("uniqueurl").style.display = "none";
    document.getElementById("saveButton").disabled = true;
  }
  else
  {
    //NEED TO CALL TO SERVER FOR INFO

    var formdata = new FormData();

    formdata.append("urlHandle", $('#url_handle').val());

    $.ajax({
        url:"/checkURL",
        type:"post",
        data:formdata,
        dataType:"json",
        processData:false,
        contentType:false,
        success:function (res) {
          console.log(res)
          if(res == true)
          {
            document.getElementById("notuniqueurl").style.display = "none";
            document.getElementById("uniqueurl").style.display = "block";
            document.getElementById("saveButton").disabled = false;
          }
          else
          {
            document.getElementById("notuniqueurl").style.display = "block";
            document.getElementById("uniqueurl").style.display = "none";
            document.getElementById("saveButton").disabled = true;
          }
        },
    });

  }

}
</script>
