<%= form_for(@registration_list) do |f| %>
  <% if @registration_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration_list.errors.count, "error") %> prohibited this registration_list from being saved:</h2>

      <ul>
      <% @registration_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event %><br />
    <%= f.number_field :event %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
