<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner" style="background:#333;">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="<%=root_path%>">Eventastic</a>

      <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="">
                  <%= link_to "Home", root_path %>
                </li>
                <li class=""><%= link_to "Search Events", mobile_search_path %></li>
                <% if authenticated? %><li class="active"><%= link_to "Manage Events", events_path %></li><% end %>
                <% if authenticated? %><li class=""><%= link_to "Edit Profile", edit_user_path %></li><% end %>
                <li class="">
                  <% unless authenticated? %><li class=""><%= link_to "Login/Register", new_user_path %></li><% else %><li><%= link_to "Logout", logout_path, :method=>"get" %></li><% end %>
                </li>
                <li class="">
                  <%= link_to "Contact Us", contact_path %>
                </li>
              </ul>
            </div>
    </div>
  </div>
</div>

<div class="jumbotron masthead" style="padding: 15px 0px 80px;padding-bottom: 10px;background:#000 url(https://s3.amazonaws.com/storage.production.ticketacular.me/site_images/newbg3.png);background-size: 100% 100%;">
  <div class="container">
    <h1>Registration List</h1>
  </div>
</div>

<div class="container">
  <div class="marketing">
   <br />
  <%= render('events/registerList') %>
</div>
</div>
</div>
</div>
