<p id="notice"><%= notice %></p>

<p>
  <b>Registration list:</b>
  <%= @registration_member.registration_list %>
</p>

<p>
  <b>Name:</b>
  <%= @registration_member.name %>
</p>

<p>
  <b>Email:</b>
  <%= @registration_member.email %>
</p>


<%= link_to 'Edit', edit_registration_member_path(@registration_member) %> |
<%= link_to 'Back', registration_members_path %>
