<%= form_for(@widget_profile) do |f| %>
  <% if @widget_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@widget_profile.errors.count, "error") %> prohibited this widget_profile from being saved:</h2>

      <ul>
      <% @widget_profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tickets_background %><br />
    <%= f.text_field :tickets_background %>
  </div>
  <div class="field">
    <%= f.label :events_background %><br />
    <%= f.text_field :events_background %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
