<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner" style="background:#333;">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="<%=root_path%>">Eventastic</a>

      <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="">
                  <%= link_to "Home", root_path %>
                </li>
                <li class=""><%= link_to "Search Events", mobile_search_path %></li>
                <% if authenticated? %><li class="active"><%= link_to "Manage Events", events_path %></li><% end %>
                <% if authenticated? %><li class=""><%= link_to "Edit Profile", edit_user_path %></li><% end %>
                <li class="">
                  <% unless authenticated? %><li class=""><%= link_to "Login/Register", new_user_path %></li><% else %><li><%= link_to "Logout", logout_path, :method=>"get" %></li><% end %>
                </li>
                <li class="">
                  <%= link_to "Contact Us", contact_path %>
                </li>
              </ul>
            </div>
    </div>
  </div>
</div>

<div class="jumbotron masthead" style="padding: 15px 0px 80px;padding-bottom: 10px;background:#000 url(https://s3.amazonaws.com/storage.production.ticketacular.me/site_images/newbg3.png);background-size: 100% 100%;">
  <div class="container">
    <h1>Edit<br />Cash Gift or<br />Donation</h1>
  </div>
</div>

<div class="container">
  <div class="marketing">
    <br />
    <span class="main_content_partial" style="display:inline-block;width:90%;">
       <div style="display:inline-block;">
  <%= form_for(@cashgifttype) do |f| %>
          <div class="purchaseTicketContainer">
    <% if @cashgifttype.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@cashgifttype.errors.count, "error") %> prohibited this cashgifttype from being saved:</h2>
        <ul>
        <% @cashgifttype.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <center>
	<% if @cashgifttype.is_default_cash_gift %>
	This is the default cash gift type! You can change the currency of the default cash gift type. You can <%= link_to "create a new cash gift type", new_cashgifttype_url %>s with custom titles, pictures, and more!
	
	<center>Currency: <%= f.select(:currency, options_for_select([["US Dollars", "USD"], ["Canadian Dollars", "CAD"]], selected: @cashgifttype.currency)) %></center>
	<% else %>
            <br />
            <%= f.select :is_donation,{ 'This Is A Donation'=>true, 'This Is A Cash Gift'=>false }%>
            <br />
            <center><p>*Name</p><%= f.text_field :title,:label=>"Name", :class=>"loginFormSize", disabled: (not @cashgifttype.is_editable) %><br />
              <p>*Goal</p><%= f.text_field :goal,:label=>"Goal", :class=>"loginFormSize", disabled: (not @cashgifttype.is_editable)  %></center>

        <center>Currency: <%#= f.select(:currency, options_for_select([["US Dollars", "USD"], ["Canadian Dollars", "CAD"]], selected: @cashgifttype.currency)) %><%= @cashgifttype.currency%></center>


	<br />
        <p>Description</p>
	<%= f.text_area :description, :size => "75x2" %><br />
	<!--<% f.check_box :shown %><br />-->
      </center>
      <center>
	<br />
	<%= image_tag @cashgifttype.cgp_url(:newsfeed), style: "-webkit-box-shadow:rgba(0,0,0,0.6) 0 6px 15px;-moz-box-shadow:rgba(0,0,0,0.6) 0 6px 15px;box-shadow:rgba(0,0,0,0.6) 0 6px 15px;width:100px;height:100px;" %>
	<div class="clearfloat"></div>
        <br />
	<p>Upload A Photo</p>
	<%= f.file_field :cgp %><br />
        <br />

	<% end %>
      <%= f.submit "Update This Cash Gift", :class => 'btn btn-success',:style=>"width:200px;"%>
      </center>
      </div>
  <% end %>
  <br />
   </div>
   </span>
</div>
</div>
</div>
</div>