<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @cashgifttype.user_id %>
</p>

<p>
  <b>Description:</b>
  <%= @cashgifttype.description %>
</p>

<p>
  <b>Cgp file name:</b>
  <%= @cashgifttype.cgp_file_name %>
</p>

<p>
  <b>Cgp content type:</b>
  <%= @cashgifttype.cgp_content_type %>
</p>

<p>
  <b>Cgp file size:</b>
  <%= @cashgifttype.cgp_file_size %>
</p>

<p>
  <b>Shown:</b>
  <%= @cashgifttype.shown %>
</p>

<p>
  <b>Goal:</b>
  <%= @cashgifttype.goal %>
</p>

<p>
  <b>Title:</b>
  <%= @cashgifttype.title %>
</p>
